<section id = "interests">
    <h1 class = "section-header">Interests</h1>
    <div class = "interest-content">
        <div class = "gaming-card">
          <h2>Video Games</h2>
          <p>I enjoy playing video games on my down times. I use video games
          to create vibrant, fun, engaging, and bonding community. Games such as
          Mario Kart 8 Deluxe and Super Smash Bros Ultimate on the Nintendo Switch
          have allowed me to find many great friends and build amazing relationships
          with amazing people in my life. I believe video games have the ability to
          bring people together, and I have seen video games do this many times in my life.
          </p>
        </div>
        <div class = "traveling-card">
          <h2>Traveling</h2>
          <p>I love seeing new places! I hope to be able to see more of this beautiful
          world in my lifetime. So far, I have been to: Puerto Rico for my senior trip in 2015 and a few states.
          I hope to be able to extend that to more exotic places and experience different cultures
          and meet new people. We truly live in a beautiful world needing to be seen!
          </p>
        </div>
        <div class = "bike-fit-card">
          <h2>Biking and Fitness</h2>
          <p>On sunny, warm days, I enjoy biking and walking and jogging around
          my neighborhood. Good health and physical fitness are what i strive
          for in my life, and I work towards having a long and plentious life
          as I get older!
          </p>
        </div>
        <div class = "makeup-fashion-card">
          <h2>Makeup and Fashion</h2>
          <p>I also enjoy transcending gender norms via makeup and fashion! I tend
          to go for unisex clothing, and I enjoy wearing eyeshadow, eyeliner, and mascara
          frequently! I identify as femme nonbinary, and makeup and fashion allow me to
          explore my feminine side and give myself a sense of gender euphoria.
         </p>
        </div>
    </div>
</section>
