<section id = "mission">
    <h1 class = "section-header">Mission</h1>
    <div class = "mission-content">
      <p class = "mission-statement">With my education, I will work within the software engineering
      career field to gain some real world experience. I have gained many soft 
      skillsets in prior jobs, and I have the confidence and attitude which will carry me 
      to success in my life. I also want to use what I learned in school to reach out to kids and teens 
      in impoverished neighborhoods who don't have access to any STEM-related education in schools or
      centers due to city neglect and underfunding. I also attended a school which was underfunded and couldn't
      provide students with access to college and career-readying curriculars such as AP computer science
      education. Though self-determination and motivation, I was able to learn about the field utlizing
      free resources, which gained me access to computer science major at my college. I hope to pass that
      education and passion down to give those with less accessibility a chance.
      </p>
    </div>
</section>
